{% load static %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
<title> Member Interface </title>
<link rel="stylesheet" href="{% static 'MemberInterface/css/style.css' %}">
<script src="{% static 'MemberInterface/js/script.js' %}"></script>
</head>
<body>
<div id="container">
<div id="header"> 
	<!-- Secondary links -->
	<div id="slinks"> 
	<ul>
	<li> <a href="#"> Link 1 </a> </li>
	<li> <a href="#"> Link 2 </a> </li>
	<li> <a href="#"> Link 3 </a> </li>
	</ul>
	</div>

	<a href="{% url 'views.welcome'%}"><img src="{% static 'MemberInterface/img/sample_logo.jpg' %}" alt="Sample Logo"/></a>
	<h1> Organization name </h1>
	
</div><!-- end of header -->
<div id="navbar"> 
	{% block navigation %}
	<ul>
	<li> <a href="{% url 'views.home' %}"> Home </a> </li>
	<li> <a href="{% url 'views.compose' %}"> Compose </a> </li>
	<li> <a href="{% url 'views.lists' %}">List Options </a> </li>
	<li> <a href="{% url 'views.archives' %}">Archives </a> </li>
	<!-- <li> <a href="#">Favourites </a> </li> -->
	<li> <a href="#">Settings </a> 
		<ul>
		<li> <a href="{% url 'views.profile' %}">Profile </a> </li>
		<li> <a href="{% url 'views.preferences' %}">Preferences </a> </li>
		<li> <a href="{% url 'views.logout' %}">Logout </a> </li>
		</ul>
		</li>
		
	</ul>
	{% endblock %}
</div> <!-- end of navbar -->
<div id="gotop">
<a href="#header"><img src="{% static 'MemberInterface/img/top.png' %}" alt="Sample Logo"/></a>
</div>
<div id="content"> 

	{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
	{% endif %}
	
	{% block content %} 
	<!-- Page Content Here -->
	{% endblock %}

</div> <!-- end of content -->

<div id="footer"> 
A Systers-GSOC'13 Project

</div> <!-- end of footer -->
</div> <!--end of container-->
</body>
</html>
