{% extends "base.html" %}

	{% block content %} 
	<!-- <h2> Welcome {{ Username }}</h2> -->
	{% if user.is_authenticated %}
	  <h2>Welcome, {{ user.username }}</h2>
	{% else %}
	  <h2>Welcome, new user. Please log in.</h2>
	{% endif %}
	<!--This will later be looped over each recent message-->

	{% for ms in mslist %}
		<div class="message_single" id="{{forloop.counter}}">

		<!-- To be replaced with coloured buttons -->
		<div class="msgbuttons">
		<div class="replybutton"> <a href="javascript:toggle_visibility('{{ms.msgid}}');"> </a></div>
		<div class="unsubscribebutton"> <a href="javascript:hide_me('{{forloop.counter}}')"> </a></div>
		<div class="viewbutton"> <a href="{% url 'views.conversation' ms.threadid %}">  </a></div>
		</div>
		<!-- end of button list -->

		<!-- The message -->
		<div class="msglistname"> {{ ms.listname }} </div>
		<div class="msgdate"> {{ ms.date }} </div>
		<div class="msgsubject"> {{ ms.subject }} </div>
		<div class="msgauthor"> <a href="{% url 'views.publicprofile' ms.email %}">{{ ms.author}}</a> said:  </div> 
		<div class="msg"> {{ ms.msg|linebreaks }} </div>
		<!-- End of message -->
		
		<!--The reply-to form -->
		<!-- Div made visible by javascript using id = message_id -->
		<div class="msgreply" id="{{ ms.msgid }}">
		<textarea></textarea>
		<!-- call reply view and send message with given parameters -->
		<a href="javascript:send_reply('{{ms.subject}}','{{ms.msgid}}','{{ms.listname}}');"> Send </a>
		</div>
		<!--End of reply-to form-->
		
		</div>
	{% endfor %}
	<!--end of all messages-->
	

	{% endblock %}
