{% extends "base.html" %}

	{% block content %} 
	
<!-- for list in client.lists :
	render list as dropdown
	render buttons for subscribe/unsubscribe
-->
	You are subscribed to:
	<div class="list-container">
	<ul>	
		{% for item in subscribed_lists %}		
		<div class="subscribed_list" class="box">
		
		<a href="{% url 'views.unsubscribe' item.1 %}">  </a>
		<!-- get first item from list i.e. list_name -->
		<li class="list-name"> {{item.0}} </li>
		<li class="list-desc"> {{item.2}} </li>
		
		</div>
		{% endfor %}
	</ul>
	
	Other lists:
	<ul>	
		{% for item in other_lists %}		
		<div class="unsubscribed_list" class="box">
		
		<a href="{% url 'views.subscribe' item.1 %}">  </a>
		<!-- get first item from list i.e. list_name -->
		<li class="list-name"> {{item.0}} </li>
		<li class="list-desc"> {{item.2}} </li>
		
		</div>
		{% endfor %}
	</ul>
	</div>

	{% endblock %}
