{% extends "base.html" %}

{% block navigation %}
<!--
<ul>
	<li> <a href="{% url 'views.welcome' %}"> Home </a> </li>
	<li> <a href="#"> News </a> </li>
	<li> <a href="#"> Contact</a> </li>
</ul>
-->
{% endblock %}


	{% block content %} 

	{% if form %}
	<div class="rightbar">
		<h3> Login/Signup </h3>
		<!-- print error message, if any -->
		<div class="error">
		</div>
		
		<form action="" method="POST">{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Submit" />
		</form>

		<a href="{% url 'views.newuser' %}"> New User ? Sign Up </a>
	</div>
	{%endif%}
	

	<h2> {{ welcome_title }} </h2>
	<p>
	{{ welcome_desc|linebreaks }}
	</p>
	{% endblock %}
