body{
color: black;
/*border: 1px solid black;*/
}

/** CONTAINER**/
#container{
/*border: 1px solid black;*/
overflow: auto;
max-width: 90%;
margin-left: auto;
margin-right: auto;
background-color: white;
}

/** HEADER **/
#header{
font-size: 10pt;
overflow: hidden;
margin: 5px 0px;
/*border: 1px solid black;*/
}

#header h1{
margin:10px;
font-size: 20pt;
float: left;
display: inline;
}

#header img{
margin: 0px;
padding:0px;
width: 100px;
height: 100px;
float: left;
display: inline;
}

/** Secondary Links **/
#slinks{
font-size: 10pt;
overflow: hidden;
display: inline;
float: right;
} 

#slinks ul{
list-style-type: none;
}

#slinks li {
padding: 0px 4px;
float: left;
}

#slinks a{
color: black;
display: block;
text-decoration: none;
}

#slinks a:visited{
color: gray;
}

#slinks a:hover{
color: white;
background-color: black;
}

/** NAVIGATION **/
#navbar{
/*border: 1px solid black;*/
clear: both;
font-size: 13pt;
width: 100%;
margin: 0px;
padding: 0px;
}

#navbar ul{
margin: 0px;
padding: 0px;
}
#navbar li{
width: 200px;
height: 30px;
margin: 0px;
padding: 0px;
display: inline-block;
list-style: none;
text-align: center;
}

#navbar li > ul{
display: none;
}

#navbar li:hover > ul {
position: absolute;
display: block;
}

#navbar li:hover li{
text-align: left;
display: block;
}

#navbar a{
display: block;
text-decoration: none;
width: 160px;
height: 30px;
color: black;
padding-top:5px;
}

#navbar a:visited{
color: black;
}

#navbar a:hover{
color: white;
background-color: black;
}

/** GOTOP **/
/** Sticky link to go to the top of the page **/
#gotop{
width:30px;
height:20px;
position: fixed;
right:10px;
bottom:10px;
}

#gotop a{
display: block;
text-decoration: none;
width: 20px;
height: 20px;
color: black;
}

#gotop img{
width: 20px;
height: 20px;
}

/** CONTENT **/
#content{
/*border: 1px solid black;*/
margin: 20px;
padding: 5px;
overflow:hidden;

}

/** SUBSCRIBED AND UNSUBSCRIBED LISTS **/
.list-name{
font-size: 12pt;
font-weight: bold;
}

.list-desc{
font-size: 10pt;
}

.subscribed_list{
list-style-type: none;
border: 1px solid black;
overflow:hidden;
padding: 10px;
margin: 5px;

-moz-border-radius: 20px;
-webkit-border-radius: 20px;
-khtml-border-radius: 20px;
border-radius: 20px;
}

.subscribed_list a{
text-decoration: none;
background: red;
margin: 1px;
color: red;
width: 25px;
height: 25px;
float: right;

-moz-border-radius: 20px;
-webkit-border-radius: 20px;
-khtml-border-radius: 20px;
border-radius: 20px;
}

.unsubscribed_list{
list-style-type: none;
overflow:hidden;
border: 1px solid black;
padding: 10px;
margin: 5px;

-moz-border-radius: 20px;
-webkit-border-radius: 20px;
-khtml-border-radius: 20px;
border-radius: 20px;
}

.unsubscribed_list a{
text-decoration: none;
background: green;
margin: 1px;
color: green;
width: 25px;
height: 25px;
float: right;

-moz-border-radius: 20px;
-webkit-border-radius: 20px;
-khtml-border-radius: 20px;
border-radius: 20px;
}

/* DJANGO ERRORLIST */
.errorlist ul{
list-style-type: none;
background-color: #FFCCCC;
border: 1px solid red;
}

.errorlist ul li{
color: red;
}

/* Info and other Messages */
.messages{
display: block;
max-width: 100%;
padding:2px 5px 2px 5px;
border: 1px solid black;
list-style-type: none;
}

.messages .error{
color: red;
}

.messages .info{
color: green;
}

/* Single Message Style*/

.message_single{
border: 1px solid black;
padding: 5px;
margin: 5px;
overflow:hidden;

-moz-border-radius: 20px;
-webkit-border-radius: 20px;
-khtml-border-radius: 20px;
border-radius: 20px;
}


.message_single textarea{
border: none;

padding: 10px;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
-khtml-border-radius: 20px;
border-radius: 20px;

-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
width: 100%;
min-height: 100px;
}

.message_single button{
margin-left: auto;
margin-right: auto;
width: 70%;
}

.msglistname{
font-size: 10px;
padding:0px 40px;
text-align:right;
}
.msgsubject{
font-size: 12px;
font-weight:bold;
}
.msgdate{
font-size: 10px;
padding:0px 40px;
text-align:right;
}
.msgauthor{
font-size: 12px;
font-weight:bold;
}
.msg{
font-size: 12px;
}

.msgbuttons{
float: right;


    
}

.replybutton{
background: green;
margin: 1px;
color: green;
width: 25px;
height: 25px;
float: right;
clear:both;

-moz-border-radius: 20px;
-webkit-border-radius: 20px;
-khtml-border-radius: 20px;
border-radius: 20px;

}

.replybutton a{
width: 25px;
height: 25px;
text-decoration:none;
display:block;
}

.unsubscribebutton{
background: red;
margin: 1px;
color: red;
width: 25px;
height: 25px;
float: right;
clear:both;

-moz-border-radius: 20px;
-webkit-border-radius: 20px;
-khtml-border-radius: 20px;
border-radius: 20px;

}

.unsubscribebutton a{
width: 25px;
height: 25px;
text-decoration:none;
display:block;

}

.viewbutton{
background: blue;
margin: 1px;
color: blue;
width: 25px;
height: 25px;
float: right;
clear:both;

-moz-border-radius: 20px;
-webkit-border-radius: 20px;
-khtml-border-radius: 20px;
border-radius: 20px;
}

.viewbutton a{
width: 25px;
height: 25px;
text-decoration:none;
display:block;
}

/* end of single message style */

.rightbar{
border: 1px solid black;
float: right;
padding: 10px;

-moz-border-radius: 20px;
-webkit-border-radius: 20px;
-khtml-border-radius: 20px;
border-radius: 20px;
}

.rightbar a{
margin: 2px;
text-align: center;
display: block;
text-decoration: none;

}

.rightbar a:hover{
text-decoration: underline;
}

/* CSS for login form */
.rightbar input,textarea,select,button{
width: 100%
}

/* Form Style */
label{
display: block;
width: 150px;
}

input, textarea, select, button {
  width : 100%;
  /*max-width: 600px;*/

  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For all Gecko based browsers */
          box-sizing: border-box;
}

/* Form-ArchiveRenderer Style */
.ar {
overflow:auto;
max-width: 100%;
}

.ar label, input, textarea, select, button {
width : 100px;
margin-bottom:0px;  
}

.ar input[type=submit]{
display: block;
clear: both;
padding: 10px;
margin: 10px;
width: 65%;
}


.ar p{
padding: 10px;
display: block;
float: left;
margin-bottom:0px;
}


/** REPLY TEXTAREA **/

.msgreply{
max-width: 100%;
max-height: 100%;
display:none;
}

.msgreply textarea{

max-width: 95%;
height: 50px;
margin: 10px;
border: 1px solid black;
}

.msgreply a{
display: block;
text-decoration: none;
color: green;
margin: 10px;
}

/* CSS for User Profile Page */

.profile{
max-width: 400px;
float: left;
overflow: hidden;
}

.profile img{
padding: 10px;
}

.profile a{
padding-left: 10px;
display: block;
text-decoration: none;
}


.profile a:hover{
display: block;
text-decoration: none;
color: blue; 
}

.profile a:visited{
display: block;
text-decoration: none;
}


.profile_form{
padding: 10px;
max-width: 600px;
float: left;
}

.invisible{
display: none;
}

.profile_form label, input, textarea, select, button {
width:100%;
padding:5px;
}

.profile_form label{
display: inline;
float: left;
width: 300px;
}

.user_status{
display: block;
width: auto;
margin-right: 10px;
padding: 5px;
}

.user_status label{
font-weight: bold;
width: 150px;
display: inline;
margin-right: 10px;
padding: 5px;
}

/* CSS for Preferences */
.preferences{
width: 100%;
display: block;
}

.preferences table{
display: block;
width: 100%;
}

.preferences table tbody{
display: block;
width: 100%;
}

.preferences tr{
width: 100%;
}

.preferences th{
font-size: 12pt;
text-align: right;
}

.preferences td{
padding: 5px;
}

.preferences label{
display: inline;
width: 250px;
}

.preferences button{}

.preferences ul{
list-style-type: none;
display: block;
}

.preferences ul li{}


/** FOOTER **/
#footer{
/*border: 1px solid black;*/
font-size: 8pt;
text-align: center;
margin: 20px;
padding: 5px;
bottom:0;
clear: both;
}
